<h1>Caisse enregistreuse</h1>

<h3>Total : <%=  %></h3>
 <form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
</form> 